@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"),
    url("./assets/fonts/MerriweatherSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Merriweather !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
