/*Variables */
$dorado: #b87335;
$turquesa: #0c92b1;

.link {
  text-decoration: none;
  color: $turquesa;
  padding: 18px 0px;
}
ul li:hover .link {
  color: $dorado;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 10px 15px;
}
.list {
  margin: auto;
  padding: 0;
}
ul li {
  width: 100%;
  color: $turquesa;
  height: 100%;
  border-radius: 15px;
  padding: 18px 10px;
  cursor: pointer;
  transition-property: background-color;
}

ul li:hover {
  background-color: rgb(199, 199, 199);
  color: $dorado;

  transition-property: background-color;
  transition-duration: 1s;
}
